spring:
  config:
    activate:
      on-profile: prod
  jpa:
    hibernate:
      ddl-auto: ${SPRING_JPA_HIBERNATE_DDL_AUTO:update}
  flyway:
    enabled: ${SPRING_FLYWAY_ENABLED:false}

app:
  cookie:
    secure: true
